header {
  background-color: pink;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: red;
}

#Rest-Form {
  margin-top: 3rem;
}

#Restnames {
  font-size: 40px;
}

nav {
  margin-right: 3rem;
  margin-top: 2rem;
  padding: 1px;
}
