body {
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5vh;
}

input{
    margin-top: 3rem;
    font-size: 30px;
}

form{
    margin-left: 6rem;
}

button{
    font-size: 30px;
    cursor: pointer;
}

nav {
  margin-right: 3rem;
  margin-top: 2rem;
  padding: 1px;
}

.links{
    list-style: none;
    display: flex;
    font-size: 25px;
}

li a{
    text-decoration: none;
    color: black;
    margin-left: 2vw;
}

li a:hover{
    color: orange;
}

.container {
  display: flex;
  flex-direction: column;
}

.dishes {
  display: flex;
  justify-content: space-evenly;
}

.foodTypes {
  font-size: 30px;
  padding: 2vh 2vw;
  border-radius: 25%;
  border: 2px solid black;
  cursor: pointer;
}

.foodTypes:hover {
  color: orange;
}

.data {
  font-size: 30px;
  border: 2px solid black;
  width: 50%;
  margin: 0 auto;
  margin-top: 10vh;
  padding: 20vh 2vw;
}
