body {
  padding: 0;
  margin: 0;
}

/* header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5vh;
} */

input {
  margin-top: 3rem;
  font-size: 10px;
}

form {
  margin-left: 6rem;
}

nav {
  margin-right: 3rem;
  margin-top: 2rem;
  padding: 1px;
}

.navbar-end {
  margin-top: -10vh;
  margin-bottom: 10vh;
}

.hero-head h1 {
  font-size: 50px;
  text-shadow: 2px 5px black;
  font-weight: 700;
}

.field {
  text-align: center;
  margin-top: 3vh;
}

#recNames {
  width: 15rem;
  margin: 0;
}

#postcodeSearch {
  width: 15rem;
  margin: 0;
}

.links {
  list-style: none;
  display: flex;
  font-size: 25px;
}

li a {
  text-decoration: none;
  color: black;
  margin-left: 2vw;
}

li a:hover {
  color: orange;
}

.container {
  display: flex;
  flex-direction: column;
}

.dishes {
  display: flex;
  justify-content: space-evenly;
}

.foodTypes {
  font-size: 30px;
  padding: 2vh 2vw;
  border-radius: 25%;
  border: 2px solid black;
  cursor: pointer;
}

.foodTypes:hover {
  color: orange;
}

.data {
  font-size: 30px;
  border: 2px solid black;
  width: 50%;
  margin: 0 auto;
  margin-top: 10vh;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.footer {
  background-color: #485fc7;
  display: flex;
  justify-content: space-evenly;
}

.footer-heading {
  display: flex;
  flex-direction: column;
  margin-right: 4rem;
  color: white;
}

.footer-heading h2 {
  margin-bottom: 2rem;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.footer-heading a {
  color: black;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.footer-heading a:hover {
  color: red;
  transition: 0.3s ease-out;
}

.footer-email-form h2 {
  margin-bottom: 2rem;
}

#footer-email {
  width: 350px;
  height: 40px;
  border-radius: 4px;
  padding-left: 0.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}

#footer-email::placeholder {
  color: lightgray;
}

#footer-email-btn {
  width: 100px;
  height: 40px;
  border-radius: 4px;
  background-color: red;
  outline: none;
  border: none;
  color: silver;
  font-size: 1rem;
}

#contactusfooter {
  width: 15rem;
  color: black;
}

#aboutusfooter {
  width: 8rem;
  color: black;
}

#socialfooter {
  width: 10rem;
  color: black;
}

#fetchInfo {
  background-color: pink;
  font-size: 15px;
}

.list-group-item {
  list-style: none;
  padding: 10px;
}

.box {
  background-color: red;
  width: 50rem;
}

.tabs {
  justify-content: center;
}

.shopSearch {
  margin-left: 100rem;
}

.header-img {
  background-image: url("http://orig14.deviantart.net/7584/f/2015/181/2/7/flat_mountains_landscape_by_ggiuliafilippini-d8zdbco.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #999;
}
#location {
  margin-top: 1rem;
  text-align: center;
}

footer {
  display: inline;
}

/* Coming soon */

#comingsoon {
  font-size: 10rem;
  text-align: center;
  margin-top: 20rem;
}
/* .wrapper {
  overflow: hidden;
}
.sliding-background {
  height: 960px;
  width: 6000px;
}

.sliding-background {
  background: url("/images/almond_chicken_curry_75843_16x9.jpeg");
  height: 500px;
  width: 5076px;
}

.sliding-background {
  background: url("/images/American-Food.jpeg");
  height: 560px;
  width: 5076px;
  animation: slide 60s linear infinite;
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-2000px, 0, 0);
  }
} */

/* body {
  background: url("/images/almond_chicken_curry_75843_16x9.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
} */

.mySlides {
}
